<!DOCTYPE html>
<html>
<head>
    <title>Multiply by 3</title>
</head>
<body>
    <h1>Multiply by 3</h1>
    <form action="{{ url_for('multiply')}}"method="post">
        <label>Enter value for customerID:</label>
        <input type="number" name="num" required>
        <label>Enter value for gender:</label>
        <input type="number" name="num2" required>
        <label>Enter value for SeniorCitizen:</label>
        <input type="number" name="num3" required>
        <label>Enter value for Partner:</label>
        <input type="number" name="num4" required>
        <label>Enter value for Dependents:</label>
        <input type="number" name="num5" required>
        <label>Enter value for tenure:  1</label>
        <input type="number" name="num6" required>
        <label>Enter value for PhoneService:  1</label>
        <input type="number" name="num7" required>
        <label>Enter value for MultipleLines:</label>
        <input type="number" name="num8" required>
        <label>Enter value for InternetService:</label>
        <input type="number" name="num9" required>
        <label>Enter value for OnlineSecurity:</label>
        <input type="number" name="num10" required>
        <label>Enter value for OnlineBackup: </label>
        <input type="number" name="num11" required>
        <label>Enter value for DeviceProtection: </label>
        <input type="number" name="num12" required>
        <label>Enter value for TechSupport:</label>
        <input type="number" name="num13" required>
        <label>Enter value for StreamingTV:</label>
        <input type="number" name="num14" required>
        <label>Enter value for StreamingMovies:</label>
        <input type="number" name="num15" required>
        <label>Enter value for Contract:</label>
        <input type="number" name="num16" required>
        <label>Enter value for PaperlessBilling:</label>
        <input type="number" name="numb17" required>
        <label>Enter value for PaymentMethod:</label>
        <input type="number" name="num18" required>
        <label>Enter value for MonthlyCharges:</label>
        <input type="number" name="num19" required>
        <label>Enter value for TotalCharges:</label>
        <input type="number" name="num20" required>
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>